:host {
  ---webdmx-device-preview-x: var(--webdmx-device-preview-x, 50%);
  ---webdmx-device-preview-y: var(--webdmx-device-preview-y, 50%);
}

// stylelint-disable-next-line no-duplicate-selectors
:host {
  position: absolute;
  top: var(---webdmx-device-preview-y);
  left: var(---webdmx-device-preview-x);

  display: block;
  box-sizing: border-box;
  width: 100px;

  color: #f4f4f4;

  background-color: #263e46;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
}

:host([selected]) {
  border: 3px solid #f4f4f4;
}
