:host {
  ---webdmx-device-preview-x: var(--webdmx-device-preview-x, 50%);
  ---webdmx-device-preview-y: var(--webdmx-device-preview-y, 50%);
}

:host {
  position: absolute;
  top: var(---webdmx-device-preview-y);
  left: var(---webdmx-device-preview-x);
  transform: translate(-50%, -50%);

  display: block;
  aspect-ratio: 1;
  width: 100px;

  background-color: #263e46;
  border-radius: 50%;
  box-sizing: border-box;
  color: #f4f4f4;
}

:host([selected]) {
  border: 3px solid #f4f4f4;
}
