:root {
  --webdmx-base-size: 10px;
  --webdmx-color-grey-100: hsl(0deg 0% 100%);
  --webdmx-color-grey-90: hsl(0deg 0% 90%);
  --webdmx-color-grey-80: hsl(0deg 0% 80%);
  --webdmx-color-grey-70: hsl(0deg 0% 70%);
  --webdmx-color-grey-60: hsl(0deg 0% 60%);
  --webdmx-color-grey-50: hsl(0deg 0% 50%);
  --webdmx-color-grey-35: hsl(0deg 0% 35%);
  --webdmx-color-grey-20: hsl(0deg 0% 20%);
}

html {
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100svh;

  margin: 0;
}
