:host {
  ---webdmx-address-editor-item-gap: var(--webdmx-address-editor-item-gap, 5px);
  ---webdmx-address-editor-item-radius: var(--webdmx-address-editor-item-width, 5px);
  ---webdmx-address-editor-item-width: var(--webdmx-address-editor-item-width, 35px);
}

:host {
  align-self: center;
  display: block;
  padding: 20px;
  max-width: 1150px;
  width: 100%;
}

section {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, var(---webdmx-address-editor-item-width));
  overflow: hidden;
}

.address,
.device {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;

  box-sizing: border-box;
  padding: 0.4em 0.6em;

  // https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966
  font-family: monospace, monospace;
  letter-spacing: 0.05em;
  text-align: center;

  user-select: none;
}

.address {
  margin: calc(var(---webdmx-address-editor-item-gap) / 2);

  cursor: default;
  background-color: #ddedf3;
  border-radius: var(---webdmx-address-editor-item-radius);

  :host([disabled]) & {
    opacity: 0.5;
  }
}

.device {
  margin-bottom: calc(var(---webdmx-address-editor-item-gap) / 2);
  margin-top: calc(var(---webdmx-address-editor-item-gap) / 2);

  background-clip: padding-box;
  background-color: #263e46;
  color: #f4f4f4;

  &.device-begin {
    margin-left: calc(var(---webdmx-address-editor-item-gap) / 2);
    border-top-left-radius: var(---webdmx-address-editor-item-radius);
    border-bottom-left-radius: var(---webdmx-address-editor-item-radius);
  }

  &.device-end {
    margin-right: calc(var(---webdmx-address-editor-item-gap) / 2);
    border-top-right-radius: var(---webdmx-address-editor-item-radius);
    border-bottom-right-radius: var(---webdmx-address-editor-item-radius);
  }

  :host(:not([disabled])) & {
    cursor: move;
  }

  span {
    position: relative;
    display: inline;

    pointer-events: none;
    overflow: visible;
    white-space: nowrap;
  }

  &:not(.device-begin) span {
    display: none;
  }
}
