:host {
  ---webdmx-popup-background: var(--webdmx-popup-background, #fff);
  ---webdmx-popup-overlap: var(--webdmx-popup-overlap, 3px);
  ---webdmx-popup-offset: calc(100% + var(---webdmx-popup-overlap));
}

// stylelint-disable-next-line no-duplicate-selectors
:host {
  position: absolute;
  z-index: 10;

  display: block;
  width: fit-content;
  padding: 10px;

  background-color: var(---webdmx-popup-background);
  border-radius: 5px;
  box-shadow: 0 0 40px rgb(0 0 0 / 35%);

  &::before {
    position: absolute;

    width: 10px;

    background-color: var(---webdmx-popup-background);

    content: '';

    aspect-ratio: 1;
  }
}

:host([hidden]) {
  display: none;
}

:host([position='top']) {
  bottom: var(---webdmx-popup-offset);
  left: 50%;

  transform: translateX(-50%);

  &::before {
    top: 100%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(45deg);
  }
}

:host([position='bottom']) {
  top: var(---webdmx-popup-offset);
  left: 50%;

  transform: translateX(-50%);

  &::before {
    bottom: 100%;
    left: 50%;

    transform: translate(-50%, 50%) rotate(45deg);
  }
}

:host([position='left']) {
  top: 50%;
  right: var(---webdmx-popup-offset);

  transform: translateY(-50%);

  &::before {
    top: 50%;
    left: 100%;

    transform: translate(-50%, -50%) rotate(45deg);
  }
}

:host([position='right']) {
  top: 50%;
  left: var(---webdmx-popup-offset);

  transform: translateY(-50%);

  &::before {
    top: 50%;
    right: 100%;

    transform: translate(50%, -50%) rotate(45deg);
  }
}
