:host {
  ---webdmx-device-editor-x: var(--webdmx-device-editor-x, 50%);
  ---webdmx-device-editor-y: var(--webdmx-device-editor-y, 50%);
}

// stylelint-disable-next-line no-duplicate-selectors
:host {
  position: absolute;
  top: var(---webdmx-device-editor-y);
  left: var(---webdmx-device-editor-x);

  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  width: 100px;
  padding: 10px;

  color: #f4f4f4;

  background-color: #263e46;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  cursor: move;

  aspect-ratio: 1;

  transition: 0.2s ease-in-out;
  transition-property: background-color, opacity;
}

:host([data-dragging='true']) {
  opacity: 0.25;
}

:host([data-interactive='true']) {
  background-color: #82969d;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;

  button {
    all: unset;

    cursor: pointer;

    &:focus,
    &:focus-within,
    &:hover {
      color: #b4b4b4;
    }
  }
}

section {
  display: flex;
  flex-direction: column;

  span {
    overflow: hidden;

    font-size: 0.75em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
