:host {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  justify-content: space-between;
}

slot {
  display: block;

  // the default slot
  &:not([name]) {
    position: relative;
    z-index: 1;

    flex: 1 0 auto;
  }

  // all named slots
  &[name] {
    background-color: var(--webdmx-color-grey-100);

    &[name='header'] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px;
    }

    &[name='footer'] {
      display: flex;
      flex-direction: column;

      max-height: 50svh;
      overflow: auto;
    }
  }
}
